[submodule "vendor/kohana/image"]
	path = vendor/kohana/image
	url = https://github.com/kohana/image.git
[submodule "vendor/retina"]
	path = vendor/retina
	url = https://github.com/imulus/retinajs.git
